@use 'variables';
@use 'hero';

:root{
  --colorBlue: green;
}

body{
  color: var(--colorBlue);
  background-color: variables.$bg-peach;
}

main{
  display: flex;
}

ul{
  list-style-image: url('../images/sword-32x32.png');
}

img{
    max-height: 200px;
}